<div class='container'>

    <div class='header'>
 
       <div class="logo" (click)="OnLogoClick()">
           logo
       </div>
 
       <div class="title">
          {{title}}
       </div>
 
       <div></div>
    </div>
 
    <div class="body">
        <div></div>

        <router-outlet></router-outlet>

        <div class="addButton">
            <button mat-fab color="primary" (click)="add()">
                <mat-icon fontIcon="fa-plus"></mat-icon>
            </button>
        </div>
    </div>
    
 </div> ''